@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* animacion */

@keyframes slider {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0px);
    }
}

.titulo{
    animation-name: slider;
    animation-duration: 2s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* fin animacion */

@media (max-width:800px){
    .start a {
        display: none;
    }
    .container{
        flex-wrap: wrap;
    }
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(152, 152, 152);
    height: 50px;
}


header a, input{
    text-decoration: none;
    margin: 0 20px 0 20px;
    color: wheat;
}
header input{
    border-radius: 4px;
    outline: none;
}

h1{
    text-align: center;
    color: black;
    margin: 2rem 0 5rem 0;
}

h2{
    text-align: center;
    margin: 2rem 0 3rem 0;
}
.container{
    display: flex;
    justify-content: center;
}


.cards{
    width: auto;
    padding: 2rem;
    margin: 2rem;
    background-color: cadetblue;
    border-radius: 4px;
    border: 1px solid black;
    transition: .5s;
}

/* efecto sobre la card con rotate*/
.cards:hover{
    transform: rotateY(180deg);
}

.cards img{
    width: 100%;
    height: auto;
}


footer{
    height: 10rem;
    background-color:rgb(152, 152, 152) ;
}

footer .contact{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
footer .contact form{
    text-align: center;
}

