*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
}
form{
    margin-top: 100px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgb(210, 170, 240);
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}
form label{
    margin: 10px;
    justify-content: center;
}
form input{
    justify-content: center;
    margin: 10px;
    width: 50%;
    border-radius: 4px;
    outline: none;
}
.form-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 75%;
}
.form-content::before{
    content: "Formulario";
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
}
.btn{
    padding: 5px;
    border-radius: 8px;
}
.btn-send{
    font-size: medium;
    background-color: green;
    color: wheat;
}
.btn-clear{
    background-color: red;
    color: white;
    font-size: medium;
}
.btn-div{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}
